*{
    margin: 0;
    padding: 0;
    border: 0;
  }

.header-form-container {
    background-color: #273746;
    min-height: 15vh;
    padding-bottom: 5px;
    width: 100vw;
}

.h-f-container {
    margin-left: 5%;
    padding-top: 1%;
}

.header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}

.error-mes {
    color: white;
    display: inline-block;
}

.logout-btn {
    color: white;
    font-size: medium;
    text-decoration: none;
}

.logout-btn:hover {
    color: #6495ED;
}

.input {
    border-radius: 3px;
    height: 25px;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 10px;
    outline: none;
}

.select-gender {
    background-color: white;
    border-radius: 3px;
    height: 29px;
    outline: none;
}

.f {
    color: rgb(247, 130, 149);
}

.m {
    color: blue;
}

.submit-btn {
    background-color: #6495ED;
    border-radius: 3px;
    color: white;
    display: block;
    height: 29px;
    margin-bottom: 3px;
    margin-top: .5%;
    width: 70px;
}

.submit-btn:hover {
    background-color: #3e4c66;
}

.data-container {
    max-height: 85vh;
    padding-top: 5%;
    width: 100vw;
}

.table-container {
    height: 60vh;
    margin: auto;
    overflow-y: auto;
    width: 60vw;
}

.data-table {
    border-collapse: collapse;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: auto;
    text-align: center;
    width: 60vw;
}

th, td {
    border: 1px solid #ddd;
    height: 30px;
}

th {
    font-size: large;
}

tr:nth-child(even) {
    background-color: #D4E6F1;
}

.edit-btn {
    color: black;
    text-decoration: none;
}

.edit-btn:hover {
    text-decoration: underline;
}

.login-container {
    align-items: center;
    background-color: #3e4c66;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.login-box {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-btn {
    background-color: #6495ED;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: x-large;
    height: 30px;
    margin-left: 25%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    width: 150px !important;
}

@media only screen and (max-width:600px){
    .header {
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .submit-btn {
        margin-top: 1%;
    }

    .table-container {
        width: 90vw;
    }

    .data-table {
        width: 90vw;
    }
}

@media only screen and (max-width: 300px) {
    .logout-btn {
        display: block;
    }
}